---
layout: default
title: Women in tech tell their origin stories.
---
<div id="headerHome" class="hide-for-small">
	<div class="row">
		<div class="large-12 columns text-center">
		</div>
	</div>
</div> <!-- /headerHome -->

<div id="pullout">
	<div class="row">
		<div class="small-12 columns text-center">
			{% for post in site.posts limit:1 %}
			<p>Latest Post: <a href="{{ post.url }}" title="{{ post.title }}">{{ post.author }}: {{ post.title }}</a></p>
			{% endfor %}
		</div>
	</div>
</div> <!-- /pullout -->

<div id="newsletter">
	<div class="row">
		<div class="large-12 columns">
			<h3>MY NERD STORY</h3>
			<p>We need more enough women/founders in tech. I believe we will fix this, in part, by having role models like these tell their stories of how they came into the field.</p><p>We need people people from all backgrounds, ethnicities and races... who didn't discover computers until they were adults and aren't white or American or native English speakers. Add your story!</p>
		</div>

	</div>
</div> <!-- /newsletter -->

<div id="post">


			{% for post in site.posts limit:10 %}
	<div class="row postlist">
				<div class="large-3 columns">
				<img src="{{ post.headshot }}" class="headshot">
			</div>
			<div class="large-9 columns">
				<h3><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
				{{ post.author }}
								
			</div>
	</div>
				{% endfor %}


</div> <!-- /post -->
