<div id="footer">
	<div class="row">
		<div class="small-12 columns text-center">
			<p>I <a href="http://janefinette.com/"><i class="icon-heart"></i></a> to hear from you: <a href="mailto:hello@theheretic.me"><i class="icon-envelope-alt icon-large"></i></a><a href="https://twitter.com/pfinette"><i class="icon-twitter-sign icon-large"></i></a><a href="https://www.facebook.com/pfinette"><i class="icon-facebook-sign icon-large"></i></a><a href="http://www.linkedin.com/in/pfinette"><i class="icon-linkedin-sign icon-large"></i></a><a href="http://feeds.feedburner.com/thehereticme"><i class="icon-rss icon-large"></i></a></p>
			<small><a href="http://finette.com/">Pascal Finette</a> is The Heretic and this site comes with a big, fat <a href="/disclaimer/">disclaimer</a>.</small>
		</div>
	</div>
</div> <!-- /footer -->

</body>
</html>
