/* -----------------------------------------
   Shared Styles
----------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,300italic);

html, body {
	height: 100%;
	overflow: hidden; }

body {
	background: #d4d4cc url(../images/bg.jpg) no-repeat left top;
	background-size: 100%; }

h1, h2, h3, h4, h5, h6, p, b, strong, small, em, label, li, input#mce-EMAIL.email {
	font-family: 'Ubuntu', sans-serif; }

h1, h2, h3, h4, h5, h6 {
	font-weight: 400; }

p, em, label, li, input#mce-EMAIL.email {
	font-weight: 300; }

b, strong {
	font-weight: 500; }

a {
	color: #3b5998; }

a:hover {
	color: #8b9dc3; }

ul, ol {
	padding-left: 17px; }

input#mce-EMAIL.email {
	height: 40px;
	font-size: 17px; }

#archive {
	list-style: none; }

#archive li {
	color: #aaa; }

#wrapper {
	height: 100%;
	overflow: auto; 
	padding: 50px 0; }

.whiteBg {
	background-color: rgba(255,255,255,0.9); }

.highlight {
	font-weight: 500; }