/* -----------------------------------------
   Shared Styles
----------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,300italic);

body {
	background: #d4d4cc url(../images/bg.jpg) no-repeat left top;
	background-size: 100%;
	margin: 50px 0; }

h1, h2, h3, h4, h5, h6, p, b, strong, small, em, label, input#mce-EMAIL.email {
	font-family: 'Ubuntu', sans-serif; }

h1, h2, h3, h4, h5, h6 {
	font-weight: 400; }

p, em, label, input#mce-EMAIL.email {
	font-weight: 300; }

b, strong {
	font-weight: 500; }

input#mce-EMAIL.email {
	height: 40px;
	font-size: 17px; }

ul {
	list-style: circle; }

li {
	padding-left: 12px;
	color: #CCC;
}

.whiteBg {
	background-color: rgba(255,255,255,0.9); }
