{% include header.html %}

<!-- CONTENT -->
<div class="row">
	<div class="eight columns offset-by-two whiteBg">
		<h3>{{ page.title }}</h3>
		{{ content }}
		<p class="text-right"><a href="{{ site.baseurl }}/archive/">&larr; Back to the Archive</a></p>
		<hr />
		<p class="text-center"><a href="http://finette.com/"><img src="{{ site.baseurl }}/images/heretic.png" alt="The Heretic" /></a><br />The Heretic is <a href="http://finette.com/">Pascal Finette</a>.</p>
	</div>
</div>
<!-- CONTENT -->

{% include footer.html %}